<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div id="wrapper">
    <!--Notification-->
    <div id="message" class="alert alert-success d-flex justify-content-between" role="alert"
         th:if="${not #strings.isEmpty(message)}">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <h1 class="fw-semibold mb-3">Users Management</h1>

    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-3">
            <a th:href="@{/user/addUser}" class="btn btn-primary d-flex gap-2">
                <i class="bi bi-plus-lg"></i>
                <span>Add User</span>
            </a>
            <!--Search Form-->
            <form class="d-flex gap-2" role="search" th:action="@{'/user/page/' + ${currentPage}}" method="get">
                <input required id="searchEmail" name="searchEmail" class="form-control input-group-sm" type="search"
                       placeholder="Search email..." aria-label="Search">
                <button class="btn btn-success btn-sm" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Search">
                    <i class="bi bi-search"></i>
                </button>
                <a th:href="@{/user}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   data-bs-title="Refresh list">
                    <i class="bi bi-arrow-clockwise"></i>
                </a>
            </form>
        </div>

        <!--Sort Form-->
        <form class="d-flex gap-3" th:action="@{'/user/page/' + ${currentPage}}" method="get">
            <select name="sortBy" class="form-select form-select-sm" aria-label="sortBy">
                <option value="default" disabled selected>--Sort By</option>
                <option value="id">ID</option>
                <option value="email">Email</option>
                <option value="firstName">FirstName</option>
                <option value="lastName">LastName</option>
                <option value="isDeleted">Status</option>
            </select>

            <select name="sortDir" class="form-select form-select-sm" aria-label="sortDir">
                <option value="default" disabled selected>--Order By</option>
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
            </select>


            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>

    <!--User List-->
    <table class="table">
        <!--Table Header-->
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <!--Hit Data-->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.isDeleted ? 'Block' : 'Active'}"></td>
            <td th:switch="${user.isDeleted}">
                <span th:case="false">
                    <a th:href="@{/user/updateUser/{id}(id = ${user.id})}" class="btn btn-sm btn-warning"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" data-bs-toggle="modal"
                       th:data-bs-target="'#staticBackdrop-' + ${user.id}">
                        <i class="bi bi-lock"></i>
                    </a>
                </span>
                <a th:case="true" class="btn btn-sm btn-info" data-bs-toggle="modal"
                   th:data-bs-target="'#staticBackdrop-' + ${user.id}">
                    <i class="bi bi-unlock"></i>
                </a>
            </td>
            <!--Modal-->
            <td th:id="'staticBackdrop-' + ${user.id}" class="modal fade" data-bs-backdrop="static"
                data-bs-keyboard="false"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" th:switch="${user.isDeleted}">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"
                                th:text="${user.isDeleted() ? 'Recover Confirm' : 'Block Confirm'}"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:switch="${user.isDeleted}">
                            <p th:text="${user.isDeleted() ? 'Are you sure that recover this user ?' : 'Are you sure that block this user ?'}"></p>
                        </div>
                        <div class="modal-footer" th:switch="${user.isDeleted}">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                            </button>
                            <a th:case="true" th:href="@{'/user/recover/' + ${user.id} + '?page=' + ${currentPage}}"
                               class="btn btn-primary">Submit</a>
                            <a th:case="false" th:href="@{'/user/delete/' + ${user.id} + '?page=' + ${currentPage}}"
                               class="btn btn-primary">Submit</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--Pagination-->
    <nav aria-label="Page navigation example" th:if="${totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:switch="${currentPage > 1}">
                <a class="page-link" th:case="true" th:href="@{'/user/page/' + ${currentPage - 1}}">Prev</a>
                <span class="page-link disabled" th:case="false">Prev</span>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:if="${currentPage != i}" th:href="@{'/user/page/' + ${i}}">[[${i}]]</a>
                <span class="page-link active" th:unless="${currentPage != i}">[[${i}]]</span>
            </li>
            <li class="page-item" th:switch="${currentPage < totalPages}">
                <a th:case="true" class="page-link" th:href="@{'/user/page/' + ${currentPage + 1}}">Next</a>
                <span th:case="false" class="page-link disabled">Next</span>
            </li>
        </ul>
    </nav>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>